{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "parser": "scss",
        "singleQuote": false,
        "printWidth": 120
      }
    }
  ]
}
