// CSS Grid System Variables
$grid-columns: 24;
$grid-gap: 1rem;
$grid-max-width: 1200px;

// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Container
.container {
  width: 100%;
  max-width: $grid-max-width;
  margin: 0 auto;

  &-fluid {
    width: 100%;
  }
}

// Grid wrapper
.grid {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  gap: $grid-gap;

  &.no-gap {
    gap: 0;
  }

  // Gap variations
  &.gap-sm {
    gap: 0.5rem;
  }

  &.gap-lg {
    gap: 2rem;
  }

  &.gap-xl {
    gap: 3rem;
  }
}

// Grid items automatically handled by CSS Grid - no base styles needed

// Generate CSS Grid column span classes for each breakpoint
@each $breakpoint, $screen-width in $breakpoints {
  @if $breakpoint == xs {
    // Extra small screens (default, no prefix)
    @for $i from 1 through $grid-columns {
      .col-#{$i} {
        grid-column: span #{$i};
      }
    }

    // Full width
    .col-full {
      grid-column: 1 / -1;
    }

    // Start position classes
    @for $i from 1 through $grid-columns {
      .col-start-#{$i} {
        grid-column-start: #{$i};
      }
    }

    // End position classes  
    @for $i from 1 through ($grid-columns + 1) {
      .col-end-#{$i} {
        grid-column-end: #{$i};
      }
    }

    // Row positioning
    @for $i from 1 through 12 {
      .row-#{$i} {
        grid-row: span #{$i};
      }

      .row-start-#{$i} {
        grid-row-start: #{$i};
      }

      .row-end-#{$i} {
        grid-row-end: #{$i};
      }
    }

    // Order classes
    @for $i from 0 through 12 {
      .order-#{$i} {
        order: #{$i};
      }
    }

    .order-first {
      order: -1;
    }

    .order-last {
      order: 999;
    }

  } @else {
    // Other breakpoints with prefix
    @media (min-width: $screen-width) {
      @for $i from 1 through $grid-columns {
        .col-#{$breakpoint}-#{$i} {
          grid-column: span #{$i};
        }
      }

      // Full width
      .col-#{$breakpoint}-full {
        grid-column: 1 / -1;
      }

      // Start position classes
      @for $i from 1 through $grid-columns {
        .col-#{$breakpoint}-start-#{$i} {
          grid-column-start: #{$i};
        }
      }

      // End position classes
      @for $i from 1 through ($grid-columns + 1) {
        .col-#{$breakpoint}-end-#{$i} {
          grid-column-end: #{$i};
        }
      }

      // Row positioning
      @for $i from 1 through 12 {
        .row-#{$breakpoint}-#{$i} {
          grid-row: span #{$i};
        }

        .row-#{$breakpoint}-start-#{$i} {
          grid-row-start: #{$i};
        }

        .row-#{$breakpoint}-end-#{$i} {
          grid-row-end: #{$i};
        }
      }

      // Order classes
      @for $i from 0 through 12 {
        .order-#{$breakpoint}-#{$i} {
          order: #{$i};
        }
      }

      .order-#{$breakpoint}-first {
        order: -1;
      }

      .order-#{$breakpoint}-last {
        order: 999;
      }
    }
  }
}

// CSS Grid alignment utilities
.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-stretch {
  justify-items: stretch;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-content-start {
  align-content: start;
}

.align-content-end {
  align-content: end;
}

.align-content-center {
  align-content: center;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

.align-content-evenly {
  align-content: space-evenly;
}

// Individual grid item alignment
.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-stretch {
  justify-self: stretch;
}

.align-self-start {
  align-self: start;
}

.align-self-end {
  align-self: end;
}

.align-self-center {
  align-self: center;
}

.align-self-stretch {
  align-self: stretch;
}

// Text alignment utilities
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}