@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&display=swap');
  
$font-antonio:  "Antonio", "Anton", Avenir, sans-serif;
$font-anton:  "Anton", "Antonio", Avenir, sans-serif;
$color-primary: #4B71D8;
$color-pink: #FFB8F6;
$color-yellow: #E1FF69;
$color-gray: #EFEFEF;
$color-white: #ffffff;

