@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&display=swap');

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham-book.woff2') format('woff2'),
    url('../fonts/gotham-book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Fonts */
  --font-antonio: 'Antonio', 'Anton', Avenir, sans-serif;
  --font-anton: 'Anton', 'Antonio', Avenir, sans-serif;

  /* Colors */
  --color-primary: #4b71d8;
  --color-pink: #ffb8f6;
  --color-yellow: #e1ff69;
  --color-gray: #efefef;
  --color-white: #ffffff;
}
