@use './variables' as vars;

.intro {
  h2 {
    font-family: var(--font-antonio);
    color: var(--color-white);
    font-size: 4rem;
    font-style: normal;
    font-weight: 100;
    line-height: 1;
    margin: 0;
    margin-top: 100px;
  }

  h3 {
    font-family: var(--font-anton);
    font-size: 18.75rem;
    font-style: normal;
    font-weight: 100;
    line-height: 1;
    margin: 0;
  }
  h4 {
    margin: 0;
    justify-self: flex-end;
  }
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
