@use './variables' as vars;

header {
  padding: 1rem 0;

  img {
    cursor: pointer;
    display: inline-block;
    width: 100%;
  }

  .profile {
    mix-blend-mode: multiply;
  }
}

.intro {
  h1 {
    font-family: var(--font-antonio);
    color: var(--color-white);
    font-size: 11.25rem;
    font-style: normal;
    font-weight: 100;
    line-height: 1;
    margin: 0;
    margin-top: 100px;
  }

  h2 {
    font-family: var(--font-anton);
    font-size: 31.25rem;
    font-style: normal;
    font-weight: 100;
    line-height: 1;
    margin: 0;
  }
}

.splash {
  min-height: 100vh;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
