@use "./variables" as vars;

header {
  padding: 1rem 0;

  img {
    cursor: pointer;
    display: inline-block;
    width: 100%;
  }

  .profile {
    mix-blend-mode: multiply;
  }
}

.intro {
  h1 {
    color: vars.$color-white;
    font-size: 7.25rem;
    font-style: normal;
    font-weight: 100;
    line-height: 1;
    margin: 0;
    margin-top: 100px;
  }

  h2 {
    font-size: 9.75rem;
    font-style: normal;
    font-weight: 100;
    line-height: 1;
    margin: 0;
  }
}

.splash {
  height: 100vh;
}
