@use './_variables';

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  font-family: var(--font-antonio);
  font-size: 2rem;
  font-weight: 100;
  margin-top: 10rem;
  padding-bottom: 100px;
}

.email {
  display: flex;
  align-items: center;
  text-decoration: none;

  > span:first-of-type {
    line-height: 0.9;
    font-family: var(--font-anton);
    font-size: 400px;
    color: var(--color-white);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 20px;
    text-indent: -0.9rem;
  }

  &-domain {
    display: block;
    font-family: var(--font-antonio);
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 68px;
    text-indent: -4px;
  }

  img {
    margin-left: 8.5rem;
    width: 18rem;
  }
}

.hire {
  font-weight: 700;

  a {
    background-color: transparent;
    color: var(--color-white);
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 8px;
    padding: 20px 40px;
    border: 2px solid var(--color-white);

    &:hover {
      background-color: var(--color-white);
      color: var(--color-primary);
    }
  }
}

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9rem;

  h2 {
    margin: 0;
  }
}

.socials {
  a {
    color: var(--color-white);
    font-family: var(--font-antonio);
    font-size: 1rem;
    text-decoration: none;
    margin-right: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 6px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.smaller {
  display: block;
  font-size: 1.3125rem;
  letter-spacing: 5px;
  margin-top: 1rem;
  margin-bottom: 0;
}

.location {
  font-family: var(--font-antonio);
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 20px;
  margin-top: 4rem;
  line-height: 1.5;
  text-transform: uppercase;

  p {
    margin: 0;

    &:nth-of-type(2) {
      letter-spacing: 30px;
      font-size: 1.5rem;
      text-indent: 3px;
    }
  }
}
