@import './_variables.css';

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact {
  font-family: var(--font-antonio);
  font-size: 2rem;
  font-weight: 100;
  margin-top: 10rem;

  .email {
    display: flex;
    align-items: center;

    span:first-child {
      line-height: 0.9;
      font-family: var(--font-anton);
      font-size: 400px;
      color: var(--color-white);
      text-decoration: none;
      font-weight: 700;
      letter-spacing: 20px;
      text-indent: -0.9rem;

      span {
        display: block;
        font-family: var(--font-antonio);
        font-size: 7.125rem;
        font-weight: 100;
        letter-spacing: 46px;
        text-indent: -8px;
      }
    }
  }
}

.hire {
  font-weight: 700;

  a {
    background-color: var(--color-white);
    color: var(--color-primary);
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 20px 52px;
    border: 2px solid var(--color-white);

    &:hover {
      background-color: transparent;
      color: var(--color-white);
    }
  }
}

.contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9rem;

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.contact-at {
  color: var(--color-primary);
  background-color: var(--color-white);
  transform: skewX(-20deg);
  font-size: 11.25rem;
}
