@use './_variables' as *;

.footer {
  > div:first-child {
    align-items: center;
  }
}
.contact {
  font-family: var(--font-antonio);
  font-weight: 100;
  background-color: var(--color-dark);
  padding: 2rem 1rem 2rem;

  @media (min-width: $bp-md) {
    padding: 3rem 2rem 3rem;
  }

  @media (min-width: $bp-lg) {
    padding: 4rem 3rem 4rem;
  }
}

.location {
  grid-column: 2 / span 18;

  p {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-gotham);
    font-size: 1.2rem;
    letter-spacing: 204%;
    line-height: 1;
    text-transform: uppercase;
  }

  span {
    &:first-child {
      letter-spacing: 330%;
    }
    &:last-child {
      letter-spacing: 330%;
    }
  }

  p:first-child {
    font-size: 2rem;
    letter-spacing: 99%;
  }
}

.flag {
  grid-column: 21 / span 3;
  width: 100%;
}

h2 {
  font-family: var(--font-gotham-bold);
  font-size: 20.75rem;
  line-height: 1;
  color: var(--color-white);
  letter-spacing: 11%;
  margin: 0;
}

.contact-bottom {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;

  @media (min-width: $bp-md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
}

.name {
  grid-column: 2 / span 22;
  margin-left: -0.05em;
}

.email {
  grid-column: 2 / span 11;
  font-family: var(--font-gotham);
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--color-white);
  letter-spacing: 18%;
}

.website {
  grid-column: 13 / span 11;
  font-family: var(--font-gotham);
  font-size: 2rem;
  color: var(--color-white);
  display: flex;
  align-items: center;
  letter-spacing: 12%;
}

.country-code {
  grid-column: 2 / span 11;
  font-family: var(--font-gotham);
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--color-white);
  letter-spacing: 4%;
}

.phone {
  grid-column: 13 / span 11;
  font-family: var(--font-gotham);
  font-size: 2rem;
  color: var(--color-white);
  display: flex;
  align-items: center;
  letter-spacing: 4%;
}

.socials {
  grid-column: 2 / span 18;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-antonio);
  font-size: 1.5rem;

  a {
    color: var(--color-white);
    font-family: var(--font-antonio);
    text-decoration: none;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 0.2s ease;
    padding: 1.5rem 3.125rem;

    &:hover {
      background-color: var(--color-white);
      color: var(--color-dark);
    }
  }
}

div.socials-hire {
  margin-top: 100px;
}

.hire {
  grid-column: 20 / span 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 100;
  font-family: var(--font-antonio);

  a {
    background-color: transparent;
    color: var(--color-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1.5rem 3.125rem;
    border: 2px solid var(--color-white);
    transition: all 0.2s ease;
    font-size: 1.5rem;

    &:hover {
      background-color: var(--color-white);
      color: var(--color-dark);
    }
  }
}
