@use './_variables';

.careers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.career {
  display: flex;
  &-year {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 4px;
    color: var(--color-yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      display: block;
      height: 100%;
      border-left: 1px solid var(--color-white);
    }
    p {
      margin-top: 0.3125rem;
    }
  }
  &-company {
    font-size: 370px;
    font-family: var(--font-anton);
    color: var(--color-white);
    line-height: 1;
    margin: 8rem 0 2.25rem 0;
  }
}
