@use './variables' as vars;
@use './grid' as grid;

:root {
  font-family: vars.$font-antonio;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: vars.$color-primary;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

h2 {
  text-transform: uppercase;
  color: vars.$color-pink;
  font-size: 64px;
}
