@use './_variables';
@use './_grid';

:root {
  font-family: var(--font-antonio);
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--color-primary);
  color: var(--color-white);
  font-optical-sizing: auto;
  margin: 0;
}

img {
  width: 100%;
}

h2 {
  text-transform: uppercase;
  color: var(--color-pink);
  font-weight: 100;
  font-size: 32px;
  letter-spacing: 4px;
  &.secondary {
    color: var(--color-yellow);
  }
}
