@use './_variables';
@use './_grid';

.work {
  min-height: 100vh;
}

.work h3 {
  font-family: var(--font-anton);
  color: var(--color-white);
  font-size: 23rem;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  text-indent: -0.9rem;
}

.marks {
  &-selected {
    background: white;
    .marks-item {
      display: block;
      padding: 1  2rem 0;
    }
  }
  &-item {
    cursor: pointer;
    padding: 0 40px;
    text-align: center;
  }
  &-image {
    max-height: 210px;
  }
}
