@import "./_variables.css";
@import "./_grid.css";

.work {
  min-height: 100vh;
}

.work h3 {
  font-family: var(--font-anton);
  color: var(--color-white);
  font-size: 23rem;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  text-indent: -0.9rem;
}