@use './variables' as *;

.splash-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
  clip-path: inset(0);
  overflow: hidden;
}

.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;

  h1 {
    font-family: 'Gotham', Avenir, sans-serif;
    font-size: 1.75rem;
    line-height: 1;

    @media (min-width: $bp-sm) {
      font-size: 2.5rem;
    }

    @media (min-width: $bp-md) {
      font-size: 3.5rem;
    }

    @media (min-width: $bp-lg) {
      font-size: 70px;
    }
  }

  .char {
    margin-left: 10px;

    @media (min-width: $bp-md) {
      margin-left: 20px;
    }

    @media (min-width: $bp-lg) {
      margin-left: 30px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  h2 {
    font-size: 5rem;
    font-family: 'Anton', Avenir, sans-serif;
    position: absolute;
    color: #4164c2;
    overflow: hidden;
    line-height: 1;
    display: flex;
    align-items: flex-end;
    margin: 0;

    @media (min-width: $bp-sm) {
      font-size: 8rem;
    }

    @media (min-width: $bp-md) {
      font-size: 12rem;
    }

    @media (min-width: $bp-lg) {
      font-size: 16rem;
    }

    @media (min-width: $bp-xl) {
      font-size: 260px;
    }
  }

  .label-char {
    display: inline-block;
  }
}
