@use './_variables';
@use './_grid';

.work {
  h2 {
    color: var(--color-white);
    display: flex;
    font-family: 'Gotham', Avenir, sans-serif;
    font-size: 24px;
    justify-content: space-between;
    line-height: 1;
    width: 96vw;
    margin: 0 auto;
  }
  h3 {
    align-items: center;
    color: var(--color-white);
    display: flex;
    font-family: var(--font-anton);
    font-size: 21rem;
    height: 100vh;
    justify-content: center;
    line-height: 1;
    letter-spacing: 20px;
    margin: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    pointer-events: none;

    &:last-child {
      z-index: 10;
      color: transparent;
      -webkit-text-stroke: 2px var(--color-white);
    }
  }
  &-list {
    &--brand {
      height: 100vh;
      width: 100vw;
      position: relative;
    }

    &--item {
      display: block;
      width: 17rem;
      height: 40rem;
      overflow: hidden;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%) rotate(-10deg);
      z-index: 1;

      &:last-child {
        transform: translateY(-50%) rotate(10deg);
      }

      img {
        display: block;
        height: auto;
        left: 50%;
        max-height: 100%;
        object-fit: contain;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
      }
    }
  }
}
